@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
body {
  background: #ee;
  font-family: 'Alba';
}
.button {
  width: 160px;
  height: 50px;
  background-color: red;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  color: #fff;
}
.button:after, .button:before {
  
  content: 'HealthyFood';
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: all 0.3s;
  transform: translate(-50%, -50%);
}
.button:hover:after {
  top: -50%;
}
.button:before {
   font-family: 'Alba';
  content: 'Login';
  font-size: 30px;
  top: 190%;
}
.button:hover:before {
  top: 50%;
}
