
@{
    ViewBag.Title = "HastuReceta";
    Layout = "~/Views/Usuario/Index_Usuario.cshtml";
}




<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/Load.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>_MasterAdmin</title>
    <link rel="icon" href="~/icono.ico" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Bootstrap -->
    <link href="~/Conten_admin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Conten_admin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/Conten_admin/vendors/nprogress/nprogress.css" rel="stylesheet" />
    <!-- iCheck -->
    <link href="~/Conten_admin/vendors/iCheck/skins/flat/green.css" rel="stylesheet" />
    <!-- bootstrap-progressbar -->
    <link href="~/Conten_admin/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
    <!-- JQVMap -->
    <link href="~/Conten_admin/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/Conten_admin/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Custom Theme Style -->
    <link href="~/Conten_admin/build/css/custom.min.css" rel="stylesheet" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnAdd').click(function () {
                var num = $('.clonedInput').length; // how many "duplicatable" input fields we currently have
                var newNum = new Number(num + 1);      // the numeric ID of the new input field being added

                // create the new element via clone(), and manipulate it's ID using newNum value
                var newElem = $('#input' + num).clone().attr('id', 'input' + newNum);

                // manipulate the name/id values of the input inside the new element
                newElem.children(':first').attr('id', 'name' + newNum).attr('name', 'name' + newNum);

                // insert the new element after the last "duplicatable" input field
                $('#input' + num).after(newElem);

                // enable the "remove" button
                $('#btnDel').attr('disabled', '');

                // business rule: you can only add 5 names
                if (newNum == 20)
                    $('#btnAdd').attr('disabled', 'disabled');
            });

            $('#btnDel').click(function () {
                var num = $('.clonedInput').length; // how many "duplicatable" input fields we currently have
                $('#input' + num).remove();     // remove the last element

                // enable the "add" button
                $('#btnAdd').attr('disabled', '');

                // if only one element remains, disable the "remove" button
                if (num - 1 == 1) {
                    $('#btnDel').attr('disabled', 'disabled');
                }
            });

            $('#btnDel').attr('disabled', 'disabled');
        });
    </script>



</head>
<body class="nav-md">


    <div class="x_panel">
        <div class="x_title">
            <h2>Comidas</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu"></ul>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <div class="row">

                <!--informacion contenido-->


                <div class="row col-md-12">
                    <div class="col-lg-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <i class="fa fa-user-md fa-fw"></i>Has tu Propia Receta
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <label class="control-label">Nombre de la comida</label>
                                            <input name="ctl00$ContentPlaceHolder1$txt_Titulo" id="ContentPlaceHolder1_txt_Titulo" type="text" class="form-control" placeholder="Titulo">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Descripción</label>
                                            <input name="ctl00$ContentPlaceHolder1$txt_Descripcion" id="ContentPlaceHolder1_txt_Descripcion" type="text" class="form-control" placeholder="Breve descripción">
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <form id="testform">
                                                    <fieldset>
                                                        <label>Agregar otro ingrediente?</label>
                                                        <input type="button" id="btnAdd" value="+" />
                                                        <input type="button" id="btnDel" value="-" />
                                                    </fieldset>

                                                    <fieldset id="input1" class="clonedInput">
                                                        <div class="col-xs-2">
                                                            <label>Cantidad  </label>
                                                            <input type="text" name="name1" id="name1" class="form-control" />
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <label>Tipo de Medida  </label>
                                                            <input type="text" name="name1" id="name1" class="form-control" />
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <label>Nombre ingrediente  </label>
                                                            <input type="text" name="name1" id="name1" class="form-control" />
                                                        </div>
                                                    </fieldset>

                                                </form>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Enfermedad</label>
                                            <input name="ctl00$ContentPlaceHolder1$txt_Descripcion" id="ContentPlaceHolder1_txt_Descripcion" type="text" class="form-control" placeholder="Seleccione una Enfermedad">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Clasifición</label>
                                            <input name="ctl00$ContentPlaceHolder1$txt_Descripcion" id="ContentPlaceHolder1_txt_Descripcion" type="text" class="form-control" placeholder="Seleccione una Clasificacion">
                                        </div>


                                    </div>

                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="control-label">Vista previa de la imagen</label>
                                        </div>
                                        <div class="form-group">
                                            <img id="ContentPlaceHolder1_Img_Anuncio" class="img-responsive" src="../../IMG/hola.jpg" style="height:250px;width:200px;">
                                            <p></p>
                                            <p></p>
                                            <br />
                                            <label class="control-label">Agregue una imagen</label>
                                            <input type="file" name="ctl00$ContentPlaceHolder1$FileUpload1" id="ContentPlaceHolder1_FileUpload1">
                                        </div>


                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
@using (Ajax.BeginForm("HastuReceta", "Usuario", new AjaxOptions() { HttpMethod = "POST" }))
{
    @Html.AntiForgeryToken()
                <button onclick="aceptar()"  type="submit" class="btn btn-success">Agregar</button>}







            </div>

        </div>
    </div>




    <section></section>

    <!-- jQuery -->
    <script src="~/Conten_admin/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Conten_admin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Conten_admin/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Conten_admin/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/Conten_admin/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/Conten_admin/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/Conten_admin/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/Conten_admin/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/Conten_admin/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/Conten_admin/vendors/Flot/jquery.flot.js"></script>
    <script src="~/Conten_admin/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/Conten_admin/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/Conten_admin/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/Conten_admin/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/Conten_admin/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/Conten_admin/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/Conten_admin/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/Conten_admin/vendors/DateJS/build/date.js"></script>



    <!-- Custom Theme Scripts -->
    <script src="~/Conten_admin/build/js/custom.min.js"></script>
    <script src="~/Conten_admin/vendors/jquery.easy-pie-chart/dist/easypiechart.js"></script>
    <script src="~/Conten_admin/vendors/jquery.easy-pie-chart/dist/easypiechart.min.js"></script>
    <script src="~/Conten_admin/vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.js"></script>
    <script src="~/Conten_admin/vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>




</body>
</html>
