
@{
    ViewBag.Title = "Inicio_Usuario";
    Layout = "~/Views/Usuario/Index_Usuario.cshtml";
}
<style>
  
    .cards{
        background-color:#ffffff;  
    }
</style>
<link href="~/Conten_Usuario/assets/img/icono.ico" rel="icon" sizes="76x76">
<div class="container" style="width:960px">
    <div class="row">

            <div class="col-md-3 card wizard-card alto animated fadeInRight"  style="right:3%">
                <div class="card  animated  bounceInDown  ">
                    <h1>lol</h1>
                </div> 
            </div>
            <div class="col-md-6 card wizard-card alto animated fadeIn" >
                <div class="card cards animated  bounceInDown  ">
                    <div class="card-header" >
                        <h3>Camino hacia una mejor salud</h3>
                        <img class="img-rounded img-responsive" alt="Rounded Image" src="~/Conten_Usuario/assets/img/uriel-soberanes.jpg">
                        <div class="img-details">
                            <div class="author">
                                <img class="img-circle img-no-padding img-responsive" alt="Circle Image" src="~/Conten_Usuario/assets/img/faces/clem-onojeghuo-2.jpg">
                            </div>
                            <p>Chet Faker</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <span>Las decisiones que toma acerca de lo que come y bebe son importantes. Deben conformar una dieta equilibrada y nutritiva. Todos tenemos diferentes necesidades de calorías según nuestra edad, género y nivel de actividad. Los estados de salud también pueden jugar un papel importante, incluso si necesita bajar de peso.</span>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-success btn-round" type="button">Ver</button>
                    </div>
                </div>
                <div class="card cards animated  bounceInDown  ">
                    <div class="card-header" >
                        <h3>Camino hacia una mejor salud</h3>
                        <img class="img-rounded img-responsive" alt="Rounded Image" src="~/Conten_Usuario/assets/img/uriel-soberanes.jpg">
                        <div class="img-details">
                            <div class="author">
                                <img class="img-circle img-no-padding img-responsive" alt="Circle Image" src="~/Conten_Usuario/assets/img/faces/clem-onojeghuo-2.jpg">
                            </div>
                            <p>Chet Faker</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <span>Las decisiones que toma acerca de lo que come y bebe son importantes. Deben conformar una dieta equilibrada y nutritiva. Todos tenemos diferentes necesidades de calorías según nuestra edad, género y nivel de actividad. Los estados de salud también pueden jugar un papel importante, incluso si necesita bajar de peso.</span>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-success btn-round" type="button">Ver</button>
                    </div>
                </div>
                <div class="card cards animated  bounceInDown  ">
                    <div class="card-header">
                        <h3>Camino hacia una mejor salud</h3>
                        <img class="img-rounded img-responsive" alt="Rounded Image" src="~/Conten_Usuario/assets/img/uriel-soberanes.jpg">
                        <div class="img-details">
                            <div class="author">
                                <img class="img-circle img-no-padding img-responsive" alt="Circle Image" src="~/Conten_Usuario/assets/img/faces/clem-onojeghuo-2.jpg">
                            </div>
                            <p>Chet Faker</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <span>Las decisiones que toma acerca de lo que come y bebe son importantes. Deben conformar una dieta equilibrada y nutritiva. Todos tenemos diferentes necesidades de calorías según nuestra edad, género y nivel de actividad. Los estados de salud también pueden jugar un papel importante, incluso si necesita bajar de peso.</span>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-success btn-round" type="button">Ver</button>
                    </div>
                </div>
                

                    
                   
                

                </div>
            <div class="col-md-3 card wizard-card alto  animated fadeInLeft" style="left:3%">


            </div>

          </div>
    </div>
<div class="row">





</div>


