
@{
    ViewBag.Title = "Inicio_Usuario";
    Layout = "~/Views/Usuario/Principal_Usuario.cshtml";
}

<!DOCTYPE  >
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Documento sin título</title>
    <style type="text/css">
        body {
            background-image: url(04-01-Healthy-Food.jpg);
            background-repeat: repeat;
        }

        #apDiv1 {
            position: absolute;
            width: 1022px;
            height: 1007px;
            z-index: 1;
            left: 9px;
            top: 635px;
            background-color: #000000;
            color: #FFF;
            font-weight: bold;
            text-align: center;
        }

            #apDiv1 h1 {
                color: #FFF;
                text-align: center;
            }

            #apDiv1 p {
                text-align: center;
            }

        #apDiv2 {
            position: absolute;
            width: 200px;
            height: 115px;
            z-index: 1;
            left: 31px;
            top: 222px;
        }

        .img {
            width: 300px;
            height: 300px;
            border-radius: 150px;
            -webkit-border-radius: 150px;
            -moz-border-radius: 150px;
            background: url(http://www.cssblog.es/ejemplos/cssblog-es.jpg);
        }

        }

        #apDiv1 table {
            text-align: center;
        }

        #apDiv1 table {
            text-align: justify;
        }

        #apDiv1 table {
            text-align: center;
        }
    </style>
</head>

<body>

    @*<img class="" src="healthy-diet-food-plates-hd-wallpaper.jpg" width="1024" height="600" />
    <div id="apDiv1">
        <h1><strong>¿Qué es un alimento saludable?</strong></h1>
        <p>Una alimentación saludable consiste en ingerir una variedad de alimentos que te brinden los nutrientes que necesitas para mantenerte sana, sentirte bien y tener energía. Estos nutrientes incluyen las proteínas, los carbohidratos, las grasas, el agua, las vitaminas y los minerales.</p>
        <p>La nutrición es importante para todos. Combinada con la actividad física y un peso saludable, la buena alimentación es una forma excelente de ayudar a tu cuerpo a mantenerse fuerte y saludable. Si tienes antecedentes de cáncer de mama o estás en tratamiento, la buena alimentación es especialmente importante para ti. Lo que comes puede influir en tu sistema inmunitario, tu estado de ánimo y tu nivel de energía.</p>
        <p></p>

        <p>LOS NUTRIENTES</p>
        <table>
            <tr>
                <td>Proteínas</td>
                <td>Carbohidratos</td>
                <td>Grasas</td>
                <td>Vitaminas</td>
                <td>Minerales</td>
                <td>Fibra</td>
            </tr>
            <tr>
                <td>
                    Son los ladrillos necesarios para crecer y reparar daños en el cuerpo.
                    Se encuentran en las carnes (de res, aves, de cacería), pescado, mariscos, crustáceos, huevos, leche, quesos, embutidos (mortadela, salchichas, salchichón), granos como las caraotas, frijoles, arvejas, lentejas.
                </td>
                <td>
                    Nos dan energía y calor para movernos y desarrollar todas las actividades diarias. Son de origen vegetal.

                    Se encuentran en los cereales: maíz, trigo, arroz, sorgo y sus productos (harinas, pastas) tubérculos o verduras: papa, ñame, apio, yuca, ocumo, ocumo chino, mapuey, batata; plátano; azúcar (blanca o morena), miel y papelón, granos como las caraotas de todos los colores, arvejas, lentejas, garbanzos, frijoles, quinchonchos.
                </td>
                <td>
                    Son la fuente más concentrada de energía para nuestro cuerpo y cerebro. Participan en diferentes funciones específicas y forman parte de los tejidos del cuerpo y de algunas vitaminas y hormonas. Son fuente de calorías para los niños, pero los adultos deben consumirla con moderación.

                    Se encuentran en las carnes rojas, piel del pollo, leche, mantequilla y queso, aceites vegetales (de girasol, maíz, ajonjolí, algodón), margarina, aguacate, aceitunas, algunas semillas como el maní, merey, pistacho, almendras, nuez.
                </td>
                <td>
                    Ellas son las vitaminas A, D, E, K, C, complejo B y el ácido Fólico.

                    Cumplen funciones esenciales para el organismo. Ayudan en el proceso de transformación de energía y favorecen el sistema de defensa del cuerpo contra las enfermedades.
                    Se encuentran en casi todos los alimentos en especial en las frutas, hortalizas y alimentos de origen animal.
                </td>
                <td>
                    Entre los principales minerales se encuentran: calcio, hierro, yodo y el zinc.

                    Ellos participan en diversas funciones específicas y forman parte de los tejidos del cuerpo (Ej.: el calcio forma y mantiene los huesos y dientes; el hierro forma parte de la sangre). Los minerales intervienen en el crecimiento, reproducción del ser humano, la función muscular, entre otros.
                    Se encuentran principalmente en los alimentos de origen animal.
                </td>
                <td>
                    La fibra ayuda a expulsar las heces con facilidad, previene el cáncer de colon y reduce el colesterol en la sangre.

                    Se encuentra en los alimentos de origen vegetal como hortalizas (zanahoria, tomates, lechugas, pepino), frutas (melón, patilla, naranja, manzana), granos (caraotas, arvejas, lentejas, frijoles), verduras (yuca, apio, nañe, batata) y cereales integrales.
                </td>
            </tr>
        </table>


    </div>*@
</body>
</html>








