@model Proyecto_web.BO_Usuario.LoginBO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title> Registro</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="~/Conten_Login/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Conten_Login/css/EstiloLogin.css" rel="stylesheet" />
    <link href="~/Scripts/btnRegistro.css" rel="stylesheet" />
    <script src="~/Conten_admin/build/js/custom.min.js"></script>

</head>


<body>


    <div class="container">
        <div class="card card-container">
            <h2><a>Registro de Usuario</a></h2>
            <p></p>
            <p></p>


            <img id="profile-img" class="profile-img-card" src="~/Conten_Login/images/user.png" />


            <p id="profile-name" class="profile-name-card"></p>
            <span id="reauth-email" class="reauth-email"></span>
            @using (Ajax.BeginForm("Registro", "Inicio_Principal_", new AjaxOptions() { HttpMethod = "POST" }))
            {
                @Html.AntiForgeryToken()
             



                <label for="inputsm">Nombre:</label>
                <input class="form-control" type="text" data-validate-length-range="6" data-validate-words="2" required="required"  id="Nombre" name="Nombre" placeholder="Ingrese su Nombre"/>
         
                <p></p>
                <p></p>

                <label for="inputsm">Apellido:</label>
                <input class="form-control" type="text" required="required" data-validate-length-range="6" data-validate-words="2" id="apellido" name="Apellido" placeholder="Ingrese su Apellido" />

                <p></p>
                <p></p>

                <label for="inputsm">Correo:</label>
                <input class="form-control" type="email" data-validate-length-range="25" data-validate-words="2" required="required" id="Email" name="Email" placeholder="Ingrese su Correo"  />
                <p></p>
                <p></p>

                <label for="inputsm">Nombre de Usuario:</label>
                <input class="form-control"  data-validate-length-range="25" data-validate-words="2" required="required" type="text" name="Nombre_Usuario" placeholder="Ingrese su Nombre de Usuario" />

                <p></p>
                <p></p>

                <label for="inputsm">Contraseña:</label>
                <input class="form-control"  data-validate-length-range="15" data-validate-words="2" required="required" type="text" id="inputPassword" name="Contraseña" placeholder="Ingrese su Contraseña" />

                <div id="remember" class="checkbox">
                    <br />
                    <br />
                    <button @*class="btn btn-lg btn-primary btn-block btn-signin"*@  class="button" id="login"></button>
                </div>
            <!--<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>-->
                <p></p>
               

                <p></p>
                <p></p>
            }

            <a  href="@Url.Action("Login","Inicio_Principal_")" class="forgot-password">
                <Label ID="Label3" runat="server" Text="Volver al inicio">Volver al inicio</Label>
            </a>
        </div><!-- /card-container -->

    </div><!-- /container -->


    <script type="text/javascript">
        function alert() {
            swal("Felicidades!", "Te has registrado!", "success");
        }
    </script>


    <!-- validator -->
    <script src="~/Conten_admin/vendors/validator/validator.js"></script>




    <div>
    </div>
</body>
</html>
