
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
  

    <meta name="viewport" content="width=device-width" />
    <title>_MasterAdmin</title>
    <!-- Bootstrap -->
    <link href="~/Conten_admin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Conten_admin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/Conten_admin/vendors/nprogress/nprogress.css" rel="stylesheet" />
    <!-- iCheck -->
    <link href="~/Conten_admin/vendors/iCheck/skins/flat/green.css" rel="stylesheet" />

    <!-- bootstrap-progressbar -->
    <link href="~/Conten_admin/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
    <!-- JQVMap -->
    <link href="~/Conten_admin/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/Conten_admin/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Custom Theme Style -->
    <link href="~/Conten_admin/build/css/custom.min.css" rel="stylesheet" />
   
 @if (ViewBag.ID == null)
 {
    <script type="text/javascript">
            window.onload = function () {
                swal('Felicidades','Ha iniciado sesion','success')
            }
    </script>
 }








</head>
<body  class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        @*<div class="navbar nav_title" style="border: 0;">

                            <img src="~/Conten_Principal/images/LogoH.png" style="height:50px"; width:50px" /><span>healthy food!</span></a>
                        </div>*@

                        <div class="clearfix"></div>

                        <!-- menu profile quick info -->
                        <div class="profile clearfix">
                            <div class="profile_pic">

                                <img src="~/Conten_Principal/images/LogoH.png" class="img-circle profile_img" />
                            </div>
                            <div class="profile_info">
                                <span>Bienvenido</span>
                                <h2>Administrador</h2>
                            </div>
                        </div>
                        <!-- /menu profile quick info -->

                        <br />

                        <!-- sidebar menu -->
                        <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <h3>General</h3>
                                <ul class="nav side-menu">
                                    <li>
                                        <a><i class="fa fa-home"></i> Inicio <span class=""></span></a>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-apple"></i> Comidas <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="form.html">Comidas aprobadas</a></li>
                                            <li><a href="form_advanced.html">Comidas pendientes</a></li>
                                            <li><a href="form_buttons.html">Ingredientes</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-comment"></i> Comentarios <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="form_buttons.html">Comida comentarios</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-medkit"></i> Tabla enfermedades <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="form_buttons.html">Enfermedades</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a><i class="fa fa-pie-chart"></i> Tabla Medidas <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="form_buttons.html">Medidas</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a><i class="fa fa-sort-amount-asc"></i> Clasificaciones<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="form_buttons.html">Clasificación de Comidas</a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <!-- /sidebar menu -->
                        <!-- /sidebar menu -->
                        <!-- /menu footer buttons -->
                        <div class="sidebar-footer hidden-small">
                            <a data-toggle="tooltip" data-placement="top" title="">
                                <span class="glyphicon " aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="">
                                <span class="glyphicon " aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="">
                                <span class="glyphicon " aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </a>
                        </div>
                        <!-- /menu footer buttons -->
                    </div>
                </div>

                <!-- top navigation -->
                <div class="top_nav">
                    <div class="nav_menu">
                        <nav>
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>

                            <ul class="nav navbar-nav navbar-right">
                                <li class="">
                                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <img src="~/styles/Admin/img/img.jpg" alt="">John Doe
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                                        <li><a href="javascript:;"> Perfil</a></li>
                                        <li>
                                            <a href="javascript:;">

                                                <span>Configuraciones</span>
                                            </a>
                                        </li>
                                        <li><a href="javascript:;">Informacion</a></li>
                                        <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Cerrar sesion</a></li>
                                    </ul>
                                </li>

                                <li role="presentation" class="dropdown">
                                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-envelope-o"></i>
                                        <span class="badge bg-green">6</span>
                                    </a>
                                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                        <li>
                                            <a>
                                                <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="text-center">
                                                <a>
                                                    <strong>See All Alerts</strong>
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /top navigation -->
                <!-- page content -->
                <div class="right_col" role="main">
                    @RenderBody()
                </div>
                  
                <div class="clearfix"></div>
                
                </footer>
                <!-- /footer content -->
            </div>
        </div>

        <section>
            
        </section>

        <!-- jQuery -->
        <script src="~/Conten_admin/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="~/Conten_admin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="~/Conten_admin/vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="~/Conten_admin/vendors/nprogress/nprogress.js"></script>
        <!-- Chart.js -->
        <script src="~/Conten_admin/vendors/Chart.js/dist/Chart.min.js"></script>
        <!-- gauge.js -->
        <script src="~/Conten_admin/vendors/gauge.js/dist/gauge.min.js"></script>
        <!-- bootstrap-progressbar -->
        <script src="~/Conten_admin/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
        <!-- iCheck -->
        <script src="~/Conten_admin/vendors/iCheck/icheck.min.js"></script>
        <!-- Skycons -->
        <script src="~/Conten_admin/vendors/skycons/skycons.js"></script>
        <!-- Flot -->
        <script src="~/Conten_admin/vendors/Flot/jquery.flot.js"></script>
        <script src="~/Conten_admin/vendors/Flot/jquery.flot.pie.js"></script>
        <script src="~/Conten_admin/vendors/Flot/jquery.flot.time.js"></script>
        <script src="~/Conten_admin/vendors/Flot/jquery.flot.stack.js"></script>
        <script src="~/Conten_admin/vendors/Flot/jquery.flot.resize.js"></script>
        <!-- Flot plugins -->
        <script src="~/Conten_admin/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
        <script src="~/Conten_admin/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
        <script src="~/Conten_admin/vendors/flot.curvedlines/curvedLines.js"></script>
        <!-- DateJS -->
        <script src="~/Conten_admin/vendors/DateJS/build/date.js"></script>
        <!-- JQVMap -->
        <script src="~/Conten_admin/vendors/jqvmap/dist/jquery.vmap.js"></script>
        <script src="~/Conten_admin/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
        <script src="~/Conten_admin/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="~/styles/Admin/vendors/moment/min/moment.min.js"></script>
        <script src="~/Conten_admin/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

        <!-- Custom Theme Scripts -->
        <script src="~/Conten_admin/build/js/custom.min.js"></script>







    <div> 
    </div>
</body>
</html>
